/*** RamNom Domains ***/

body {
	font-family: 'Roboto', Arial, sans-serif;
}

center {
	padding: 1rem;
}

img {
	max-width: 100%;
}

a {
	transition: all 0.25s ease-in-out;
}

.button {
	display: inline-block;
	min-width: 150px;
	padding: 0.75rem 2.5rem;
	border: 0.2rem solid #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
	background-color: #42d071;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
	letter-spacing: 0.05rem;
}

.button:hover,
.button:active {
	background-color: #3cb965;
}

.powered-by {
	margin-top: 4rem;
}

.powered-by a {
	opacity: 0.5;
}

.powered-by a:hover,
.powered-by a:active {
	opacity: 1;
}
