/* Animations */

.fade-in {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Theme */

body {
	padding-top: 2rem;
	font-family: 'Roboto', sans-serif;
}

.navbar {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	background: #008bdb;
	background: -moz-linear-gradient(45deg,  #008bdb 0%, #b400db 100%);
	background: -webkit-linear-gradient(45deg,  #008bdb 0%,#b400db 100%);
	background: linear-gradient(45deg,  #008bdb 0%,#b400db 100%);
}

.navbar-brand {
	display: inline-block;
	margin-right: 0;
	width: 176px;
	height: 24px;
	background-image: url(../img/logo-white.png);
	background-size: 100%;
	text-indent: -9999px;
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 1.85);
	border-color: rgba(255, 255, 255, 0.25);
}

#form-search .input-group-text {
	padding: 0;
}

#form-search .btn {
	padding: 0.375rem 0.75rem;
	line-height: 1;
}

#search.form-control {
	min-width: 360px;
}

#search.form-control::placeholder {
	color: #cecece;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.navbar-nav {
		display: block;
	}
	.navbar-nav .nav-item,
	.navbar-nav .nav-link {
		display: inline-block;
	}
	.navbar-nav .nav-link {
		margin: 1rem;
		padding: 1rem;
		font-size: 1.75rem;
		font-weight: 700;
		letter-spacing: 0.1rem;
	}
	.navbar-toggler {
		margin-left: 132px;
	}
}
