/* Animations */

.fade-in {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Theme */

body {
	padding-top: 2rem;
	font-family: 'Roboto', sans-serif;
}

.nabar {
	background: #008bdb;
	background: -moz-linear-gradient(45deg,  #008bdb 0%, #b400db 100%);
	background: -webkit-linear-gradient(45deg,  #008bdb 0%,#b400db 100%);
	background: linear-gradient(45deg,  #008bdb 0%,#b400db 100%);
}

.navbar-brand {
	display: inline-block;
	margin-right: 0;
	width: 294px;
	height: 40px;
	background-image: url(../img/logo-white.png);
	background-size: 294px 40px;
	text-indent: -9999px;
}

.navbar-nav .nav-link {
	display: inline-block;
}

#search.form-control {
	min-width: 360px;
}
